$light-color:       #efe9d9;
$dark-color:        #3e3737;

html.sb-init {

  .sb-slidebar {

    .block {
      margin-bottom: 10px;

      .block-title {
        display: none;
      }

      .menu-block-wrapper {
        ul.menu {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            a {
              display: block;
              text-align: center;
              text-transform: uppercase;
              text-decoration: none;
              color: $light-color;
              padding: 10px;
              font-weight: 200;
            }
          }
        }
      }

      form[id^=search-block-form] {
        padding: 20px;

        input {

          &[type=text] {
            width: 100%;
            border: none;
            padding: 8px 8px 8px 40px;
          }

          &[type=submit] {
            display: none;
          }
        }
      }

    }

  }

}
